body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
}

div.bg {
	position: relative;
	background-image: url('../assets/bg-celeste.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

div.bg #char {
	position: absolute;
	height: 100%;
	width: auto;
	offset-path: path("M 0 0 Q 9.9451 5.259 11.1115 -1.7599 Q 7.8333 -8.0748 0 0 Q -7.8333 8.0748 -11.1115 1.7599 Q -9.9451 -5.259 0 0");
	offset-rotate: 0deg;
	animation: movepath 10s infinite linear;
	bottom: -53%;
	left: 50%;
}

@keyframes movepath {
	0% {
		offset-distance: 0%;
	}

	100% {
		offset-distance: 100%;
	}
}

div.green-menu #menu {
	width: 5%;
	height: auto;
	position: absolute;
	top: 2%;
	left: 2%;
}

div.green-menu #card-list {
	width: 20%;
	height: auto;
	position: absolute;
	top: 2%;
	left: 0.5%;
}

div.bg img#char.bounce {
	animation: bounce 0.25s linear forwards, movepath 10s infinite linear;
}

@keyframes bounce {
	0% {
		bottom: -53%;
	}
	50% {
		bottom: -51%;
	}
	100% {
		bottom: -53%;
	}
}