* {
	box-sizing: border-box;
}

:root {
	--blob-bg: #525174;
	--name: #FFFFFF;
	--name-bg: #1C1C24;
	--dialogue: #FFFFFF;
}

@media screen and (max-width: 2500px) {
	div.dialogue-text {
		font-size: 2vw;
	}
}

@media screen and (max-width: 2000px) {
	div.dialogue-text {
		font-size: 2.5vw;
	}
}
@media screen and (max-width: 1400px) {
	div.dialogue-text {
		font-size: 3vw;
	}
}

@media screen and (max-width: 1200px) {
	div.dialogue-text {
		padding-top: 1.5em;
	}
	div.dialogue-character {
		font-size: 1.7em;
	}

}
@media screen and (max-width: 1000px) {
	div.dialogue-text {
		font-size: 1.9em;
	}
}

.dialogue {
	position: absolute;
	display: flex;
	max-height: 50%;
	height: 30%;
	min-width: 500px;
	width: 60%;
	align-self: center;
	bottom: 1em;
}

.blob-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	opacity: 0.8;
}

.dialogue-blobs {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	filter: url("#fancy-goo");
	transform: scale(0);
	-webkit-animation: scale-up 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
	animation: scale-up 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
}

.dialogue-blob-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 75%;
	background-color: var(--blob-bg);
	border-radius: 40% 40% 30% 30%/150% 150% 150% 150%;
	-webkit-animation: blob 1.5s cubic-bezier(0.37, 0, 0.63, 1) 0.3s infinite alternate;
	animation: blob 1.5s cubic-bezier(0.37, 0, 0.63, 1) 0.3s infinite alternate;
	transform-origin: center;
}

.dialogue-blob-bottom {
	position: absolute;
	bottom: 0;
	width: 94%;
	height: 40%;
	background-color: var(--blob-bg);
	border-radius: 5% 5% 20% 20%/100% 100% 100% 100%;
	-webkit-animation: blob 1s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
	animation: blob 1s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
	transform-origin: center;
}

.dialogue-character-wrap {
	position: absolute;
	-webkit-animation: character 0.6s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
	animation: character 0.6s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}

.dialogue-character {
	display: inline-block;
	margin-right: auto;
	padding: 0.5rem 2rem;
	font-family: "Varela Round", sans-serif;
	font-size: 2rem;
	color: var(--name);
	background-color: var(--name-bg);
	border-radius: 30%/100% 100% 120% 120%;
	transform: perspective(2rem) rotateX(1deg) rotateZ(-9deg) translateX(20%) translateY(-45%) scale(0);
	-webkit-animation: fade-character 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
	animation: fade-character 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
}

.dialogue-text {
	position: absolute;
	width: 80%;
	padding-top: 1em;
	font-family: "Hind", sans-serif;
	font-size: 2.2vw;
	line-height: 1.5em;
	color: var(--dialogue);
}

input#dataInput {
	width : 40%;
	height : 20%;
	position : absolute;
	bottom : 3%;
	left : 50%;
	transform : translate(-50%, -50%);
	font-size : 2em;
	border-radius : 50%; /* makes corners completely round */
	text-align : center;
	border : 2px solid #1e3799;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	background-color : #dec316; /* white background for contrast */
	color: #1e3799; /* dark blue text color for contrast */
	font-family : 'Courier New', Courier, monospace;
    padding: 15px;
}

.arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    fill: none;
}

.arrow-circle {
    stroke-width: 5;
    transition: stroke-width 0.3s ease;
    stroke: white;
}

.arrow-path {
    stroke-linecap: round;
    stroke-width: 10;
    transition: stroke-dasharray 0.3s ease, stroke-dashoffset 0.3s ease;
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    stroke: white;
}

.arrow:hover .arrow-circle {
    stroke-width: 15;
}

.arrow:hover .arrow-path {
    stroke-dashoffset: 0;
}

.exit-btn {
    position: fixed;
    bottom: 24%;
    right: 23%;
    transform: translateX(-25%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    fill: none;
    stroke: #ee0606f3;
}

.exit-btn-circle {
    stroke-width: 10;
    transition: stroke-width 0.3s ease;
}

.exit-btn-line {
    stroke-linecap: round;
    stroke-width: 15;
    transition: stroke-dasharray 0.3s ease, stroke-dashoffset 0.3s ease;
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
}

.exit-btn:hover .exit-btn-circle {
    stroke-width: 12;
}

.exit-btn:hover .exit-btn-line {
    stroke-dashoffset: 0;
}

@-webkit-keyframes blob {
	from {
		transform: rotate(0.3deg) scale(1);
	}

	to {
		transform: rotate(-0.3deg) scale(0.99);
	}
}

@keyframes blob {
	from {
		transform: rotate(0.3deg) scale(1);
	}

	to {
		transform: rotate(-0.3deg) scale(0.99);
	}
}

@-webkit-keyframes character {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(3px);
	}
}

@keyframes character {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(3px);
	}
}

@-webkit-keyframes scale-up {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-up {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fade-character {
	from {
		transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%) translateY(-45%) scale(0.8);
		opacity: 0;
	}

	to {
		transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%) translateY(-45%) scale(1);
		opacity: 1;
	}
}

@keyframes fade-character {
	from {
		transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%) translateY(-45%) scale(0.8);
		opacity: 0;
	}

	to {
		transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%) translateY(-45%) scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes arrow {
	from {
		transform: translateY(33%) translateX(-50%) scale(1);
		opacity: 1;
	}

	to {
		transform: translateY(50%) translateX(-50%) scale(0.9);
		opacity: 1;
	}
}

@keyframes arrow {
	from {
		transform: translateY(33%) translateX(-50%) scale(1);
		opacity: 1;
	}

	to {
		transform: translateY(50%) translateX(-50%) scale(0.9);
		opacity: 1;
	}
}